# Basic Python

## Variables and Data Types

In [1]:
#Integer
qty = 142662
print(qty)
type(qty)

142662

int

In [2]:
#Float
var1 = 87.5
print(var1)
type(var1)

87.5

float

In [3]:
#String
var_text = 'Welcome'
print(var_text)
type(var_text)

Welcome

str

In [4]:
#Boolean
variabel_1 = True
variabel_2 = False
print(variabel_1)
print(variabel_2)

True
False

## Typecasting

In [5]:
#Integer to String
qty_str = str(qty)
type(qty_str)

str

In [6]:
#Integer to Float
qty_float = float(qty)
print(type(qty_float))

<class 'float'>

## Data Structure

### List

In [7]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list)

['Red', 'Green', 'White', 'Black']

In [8]:
#indexing
#start from 0
print(color_list[0])
print(color_list[3])

Red
Black

In [9]:
#reverse list
lst = [11, 5, 17, 18, 23, 50]
#Reverse List
reverse = lst[::-1]
print(reverse)

[50, 23, 18, 17, 5, 11]

In [10]:
#remove list
lst = [11, 5, 17, 18, 23, 50]
del(lst[1:5])
print(lst)

[11, 50]

### Tuples

In [11]:
tuple1 = (10, 20, 30, 40, 50)
print(tuple1[1:3])

(20, 30)

In [12]:
#reverse tuples
print(tuple1[::-1])

(50, 40, 30, 20, 10)

### Dictionary

In [13]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

In [14]:
#access dictionary
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([100, 200, 300])
dict_items([('a', 100), ('b', 200), ('c', 300)])

In [15]:
#combine dictionary
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d3 = dict(d1)
d3.update(d2)
print(d3)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [16]:
#combine dictionary with same value added
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = dict(d1) 
d3.update(d2)
for i, j in d1.items():
    for x, y in d2.items():
        if i == x:
            d3[i]=(j+y)
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [17]:
#another way to combine dictionary
from collections import Counter

d4= Counter (d1) + Counter(d2)
print(d4)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

### Set

In [18]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [19]:
#intersection
print(set1.intersection(set2))

{40, 50, 30}

## Function

### built-in function

In [20]:
var1 = "Enjoy Your Learning Process"
print(len(var1))
var2 = [1,2,3,4,5]
print(len(var2))

27
5

### user-definitive function

In [21]:
#simple calculator function
def calc (a, b):
    print("Result of addition and subtraction: ", calc)
    return a+b, a-b
#calling the function
calc(40,10)

Result of addition and subtraction:  <function calc at 0x0000020FC5E58040>

(50, 30)

In [22]:
#convert lowercase to uppercase
def response(txt):
    return txt.upper()
response(input('enter your words: '))

enter your words: enjoy your learning process

'ENJOY YOUR LEARNING PROCESS'

### Lambda Function

In [23]:
x = lambda a,b: a*b 
print(x(5, 6))

30

In [24]:
i = 9
f = lambda z: z*11 
print(f(i))

99

## Conditional IF

In [25]:
#number odd even 
x = int(input('Enter Number:'))
if x%2 == 0:
    print('Your Number is Even')
else:
    print('Your Number is Odd')

Enter Number:124368956456543
Your Number is Odd

## Looping

### While Loop

In [26]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [27]:
#break
x = 10
while x > 0:
    print(x)
    x -= 1
    if x == 3:
        break

10
9
8
7
6
5
4

### For Loop

In [28]:
lst=["koala", "kucing", "rubah", "panda", "tupai", "kemalasan", "penguin", "lumba-lumba"]

for x in lst:
    print(x)

koala
kucing
rubah
panda
tupai
kemalasan
penguin
lumba-lumba

In [29]:
for x in range(5):
    print(x)

0
1
2
3
4

In [30]:
#accessing items and indexes in list
colors = ['blue','red','green','yellow']
for index in range(len(colors)):
    print(index, colors[index])

0 blue
1 red
2 green
3 yellow

In [31]:
#another way to accessing items and indexes in list
for i, col in enumerate(colors):
    print(i,col)

0 blue
1 red
2 green
3 yellow